body {
    background-color: aliceblue;
}

#card_fb {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#para_must {
    background-color: lightblue;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
}

.error {
    color: rgb(42, 161, 201);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#para_must {
    display: none;
}